.multirange-title{
  font-size: 1.125rem;
  font-weight: 600;
}

.multirange-checked-full > .form-check-input:checked[type=radio]{
  background-image: none;
}

.multirange-checked-full > .form-check-input:checked {
  background-color: #36B37E;
  border-color: #36B37E;
}

.multirange-checked-full > .form-check-input:focus {
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.multirange-checked-full > label {
  font-size: 16px;
}